*{  margin: 0;
    padding: 8px;
    box-sizing: border-box;
}
html{
    font-size:150%;
}

 body{
   background-image: url("calendar.jpg");
   background-size: cover; 
}
.month h1{
  font-size: 54px;
  text-transform: uppercase;
 
}


