
#container{
  height: 10em;
  width: 100%;
  position: relative
}

.nav{
  width: 170%;
  color: grey;
  font-family: sans-serif;
  font-size: 18px;
}

.nav ul{
  width: 10em;
  position:absolute;
  top: -7%;
  left: 85%;
}

.nav a{
  color: grey;
}

.nav li{
  margin-left: 12px;
  display: inline-block;
}

.nav li img{
  top: 10%;
  
}


.logo{
  margin: 0;
  position: absolute;
  top: 115%;
  left: 43%;
  margin-right: 60%;
}

input{
  font-family: sans-serif;
  font-size: medium;
  padding: 13px;
  height: 14px;
  width: 580px;
  margin: 0;
  position: absolute;
  top: 180%;
  left: 33.3%;
  margin-right: -60%;
  clear:both;
}

.search-options{
  position: relative;
  top: 207%;
  width: 320px;
  left: 41.2%;
}

.search-options ul{
  list-style-type: none;
}

.search-options li{
  display: inline-block;
  margin: 0 1px;
}

button{
  height: 30px;
  width: auto;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #f3f3f3;
	border: 1px solid #ccc;
	font-weight: bold;
}

button:hover{
  opacity: 0.8;
  filter: alpha(opacity = 15);
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
}


.footer{
  position: absolute;
  width: 100%;
  background-color: #f3f3f3;
  top: 95%;
}

.footer a{
  color: grey;
}

.footer ul{
  height: 10px;
  font-family: sans-serif;
}

#left-footer{
  float: right;
  width: 27%;
}

#left-footer li{
  display: inline;
  margin-left: 20px;
  font-size: small;
}

#right-footer li{
  display: inline;
  margin-left: 30px;
  font-size: small;
}

#right-footer{
  float: left;
}
